
.body {
  background-color:black;
  height: 700px;
  color: white;
}

.content-body{
  text-align: center;
  padding-top:100px;
}

img{
  border: solid 10px;
  border-color: white;
}

.col-content{
  padding-top: 80px;
}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

/* .App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
